body {
	/* Banner Variables */
	--sb-padding: 8px;
	--sb-radius: 0px;
	--sb-height: 240px;
	--sb-url: none;
	--sb-repeat: no-repeat;
	--sb-size: cover;
	--sb-img-x: 0;
	--sb-img-y: 0;
	--sb-mask: linear-gradient(180deg, transparent 25%, var(--background-primary));
	--sb-mask-webkit: -webkit-linear-gradient(270deg, transparent 25%, var(--background-primary));

	/* Icon Variables */
	--sb-icon-align-h: flex-start;
	--sb-icon-align-v: flex-end;
	--sb-icon-size-w: 96px;
	--sb-icon-size-h: 96px;
	--sb-icon-offset-x: 0;
	--sb-icon-offset-y: 0;
	--sb-icon-radius: 8px;
	--sb-icon-value: '';
	--sb-icon-fontsize: inherit;
	--sb-icon-background: rgb(from var(--background-primary) r g b / 80%);
	--sb-icon-border: 0;

	/* Datetime Variables */
	--sb-dt-align-h: flex-start;
	--sb-dt-align-v: flex-end;
	--sb-dt-align-text: auto;
	--sb-dt-gap: var(--size-4-1);
	--sb-dt-offset-x: 0;
	--sb-dt-offset-y: 0;
	--sb-dt-color-time: rgb(from var(--text-normal) r g b / 98%);
	--sb-dt-color-date: rgb(from var(--text-normal) r g b / 98%);
	--sb-dt-fontfamily-time: inherit;
	--sb-dt-fontweight-time: var(--font-semibold);
	--sb-dt-fontsize-time: 3rem;
	--sb-dt-fontfamily-date: inherit;
	--sb-dt-fontweight-date: var(--font-semibold);
	--sb-dt-fontsize-date: initial;
	--sb-dt-textshadow:
			0 0 12px rgb(from var(--background-primary) r g b / 65%),
			0 0 6px rgb(from var(--background-primary) r g b / 100%);
	--sb-dt-blendmode: none;
	--sb-dt-filter: none;
}
